*{
  margin: 0;padding: 0;
}
.containericon{ background-color:#316dc3 ; padding: 10px;   display: flex; 

}
.firsttabicon:hover { border: blue;  cursor: pointer;

}
.head{ margin-left: 29px; border: none;

}
.containericon i{ margin: 0 10px;  margin-right: 10px;

}
.container{ width: 1200px; margin: 0 auto; padding: 10px; 
 
}
.tab2{ position: sticky;
  top: 0;
background-color: #f7f8fa;

}
.sule{ width: 1200px; margin: 0 auto; padding: 10px;

}
.sule i{ color: white;

}
   .tabinline{   display: inline-block;  float: left; flex-wrap: wrap; 

}  
.tabinline a{ border: 1px solid black; padding: 3px; margin-left: 10px; color: #000; background-color: whitesmoke;
 
}
.millions{  

}
.millions >p{ color: #fff; font-family: sans-serif;font-size: 12pt; margin-left: 70px;

}
a{
  text-decoration: none;
}

ul li{
  list-style: none;
}
.home ul li{
  display: inline-block;
}
.showinline{
  display: inline-block  ;
}
.home ul li a{ color: #000; margin-right: 40px; border-radius: 5mm;
   padding: 5px   ; 
}
.home ul li a:hover{  
  background-color: rgb(176, 176, 248) ; border: 1px solid black;   
}
#hometab { background-color: blue;  
   
}
.head1:hover .aboutdropdown{
  display:block  ;
}
.head1{  display: flex;  
flex-direction: row;  position: fixed;
  position: relative;
  display: inline-block;}
  .dropdownbutton{     border: 1px solid;  border-radius: 5mm; padding: 10px 15px 5px 15px;
      border: none;                cursor: pointer; background-color: white; color: black;
}
.aboutdropdown a{ padding:  5px 5px ;  text-decoration:  none; display: block; 
   color: black; background-color: white ; box-shadow:  1%  ;
}
.aboutdropdown{
display: none; position: absolute; z-index: 1; min-width: 15px; padding:1px 1px; 
background-color: azure;  
}
button:hover { padding: 10px 15px 5px 15px; border-radius: 5mm; 
  background-color:  blue;
}

.picture img{ display: flex; 
  margin-top: 100px;
  max-width:100%;  
  flex-wrap: wrap;

}
.line{ justify-content: space-around;
  text-align: center;
  padding-bottom: 5px;
  margin-left: 100px; margin-right: 100px;
    display: flex;
    /* width: 300px ; */
    background-color: rgb(134, 134, 250);
    max-height: 30px;
}
.intoductionlogo{ display: flex;  display:block; text-align: center;
  justify-content: center;
}
#intr{  font-size: 35px; font-family: 'Times New Roman', Times, serif;
  color: black; font-weight: bold; 
}
.intro{   display: flex; text-align: justify; 
  color: black; flex-wrap: wrap; margin-left: 200px; margin-right: 200px;
   line-height: 30px; 
}   

#duction{
  color: green;
}

.home{ float: right;
 margin-top: 25px;
}
.slogo{
  float: left;
}
.clear{
  clear:  left;
}

/* #h{ padding: 10px 15px 5px 15px; border-radius: 5mm;  ;
  background-color:  blue; color: white; */
     

  .box{ display: flex; justify-content: center;   color: blue; background-color: #f7f8fa;

  }
  .box > div {   background-color: #ffffff; width: 330px;  
    margin: 10px; min-height: 180px; text-align: center; padding-top: 20px;
  ;  font-weight: bold; font-size: 15pt;
  }
  .kulduq{ background: #2755e9; display: flex; flex-wrap: wrap; padding-left: 70px;

  }
  .kulduq div{ color: white;  text-align: center; margin: 18px; line-height: 40px ;

  }
  .kulduq p,span{
    font-size: 15pt; font-weight:bold; font-family: 'Times New Roman', Times, serif;
  }
  .gool,.month{
    font-size: 15pt; font-weight:bold; font-family: 'Times New Roman', Times, serif;
  }




















.missionrow p { font-size: x-large; font-weight: bold; color: blue;  margin-left: 150px;

}
.missionrow span{
  padding-left:  330px;
}
.misssion{     margin-left: 100px; padding: 20px;
  display: flex; flex-wrap: wrap;
}
.one,.two{  border: 1px solid blue; margin: 10px;
    width: 300px; padding: 5px; height: 70px;
}
.three{width: 300px; height: 350px; float: right; display:  block; margin-right: 200px;
border: 1px solid black;
}
.four,.five{ margin-left: 100px;
  border: 1px solid blue; margin: 10px;
   width: 300px; padding: 5px; height: 70px;
}
.three p{
  padding: 10px; line-height: 20pt;
}
.tab2{ 
  display: flex;
}


    .black{ display: flex;       border: 2px solid black;   background-color: #25272e;
     flex-wrap: wrap;
  
    }
   .black > div{     padding: 30px;  width: 380px; color: #ffffff;
    } 
    .wadoforhepa{  max-height: 500px; width: 100%;

    }
    .mujahid{  display: flex; 
          
    }
    .mujahid >div{     
       flex-wrap: wrap;    
    }
    .Copy{ display: flex;   float: left;  width: 100%;
    }
    .Copy >div{   background-color: #316dd9;  width: 100%; padding: 20px;  
    } 
    .saljan a{padding: 5px 5px;  width: 45px; text-align: center; background-color: #316dc3; color: white;
      border-radius:  180px; border:  1px solid black;
    }
    .jumanjee{ 
      display: flex; background-color:#2755e9;
       flex-direction: row;
  }
  .jumanjee div{ height: 250px; padding-top: 100px; font-size:  large; font-weight: bold; font-family:'Times New Roman', Times, serif ;
      text-align: center; width: 300px; flex-wrap:  wrap;
  }
  #MONTHLY{
      color: #0ec155;
  }
    
  
  }
  .month{ color: white;
  
  }
  .gool{
          font-size: xx-large;
  }
  .saljan a{
    background-color: #316dd9 ;  border-radius: 50%;
    padding: 8px;
font-size: 20px;
width: 30px;
text-align: center;
text-decoration: none;
margin: 5px 2px;
border-radius: 50%
}
.arrow {
  border: solid black;
  border-width: 0 1px 1px 0;
  display: inline-block;
  padding: 3px;
}
.down {
  transform: rotate(45deg);
   
}
 .top{
  float: right; position: fixed; bottom: 20px; border: none; 
  right: 30px; z-index: 1; background-color: none;
 }
 .top:hover{ cursor: pointer;
   background-color:none; 
 }